.chatbot-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: rgb(119, 96, 15);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    z-index: 10000;
}

#chatbotVentana {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 350px;
    height: 500px;
    background: white;
    border: 2px solid #6e5d08;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    z-index: 10000;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}


.chatbot-header {
    padding: 15px;
    background: rgb(2, 2, 6);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.chatbot-close {
    background: none;
    border: none;
    color: rgba(164, 156, 101, 0.833);
    cursor: pointer;
}

.chatbot-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

.chatbot-input {
    padding: 15px;
    border-top: 1px solid #ccc;
    display: flex;
}

.chatbot-input input {
    flex: 1;
    padding: 8px;
}